<div class="h-full w-full">
  <div class="total grid gap-4 p-4 text-white
              grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
    
    <div class="bg-gradient-to-r from-fuchsia-600 to-fuchsia-400 rounded p-4 flex flex-col text-center justify-between">
      <span>تعداد سرورهای فعال<i class="fa-solid fa-server ml-2"></i></span>
      <span class="font-medium text-2xl">23</span>
      <span>هفته گذشته 20</span>
    </div>

    <div class="bg-gradient-to-r from-blue-600 to-blue-400 rounded p-4 flex flex-col text-center justify-between">
      <span>حجم معاملات<i class="fa-solid fa-line-chart ml-2"></i></span>
      <span class="font-medium text-2xl">1289</span>
      <span>هفته گذشته 3654</span>
    </div>

    <div class="bg-gradient-to-r from-violet-600 to-violet-400 rounded p-4 flex flex-col text-center justify-between">
      <span>تعداد تراکنش ها<i class="fa-solid fa-exchange ml-2"></i></span>
      <span class="font-medium text-2xl">1400</span>
      <span>هفته گذشته 1000</span>
    </div>

    <div class="bg-gradient-to-r from-cyan-600 to-cyan-400 rounded p-4 flex flex-col text-center justify-between">
      <span>تعداد کاربران فعال<i class="fa-solid fa-user ml-2"></i></span>
      <span class="font-medium text-2xl">1256</span>
      <span>هفته گذشته 1350</span>
    </div>

  </div>
  <div class="chart-price">

  </div>
</div>